exportPattern("^[[:alpha:]]+")

export(
    emf.rna.forward,
    emf.rna.forward.padrao,
    emf.rna.backward.lote,
    emf.rna.backward.padrao,
    emf.rna.backward.recorrencia,

    emf.rna.read.csv.files,
    emf.rna.runif,

    emf.rna.func.sigmoid,
    emf.rna.func.sigmoid.der,
    emf.rna.func.perceptron,
    emf.rna.func.perceptron.der,
    emf.rna.func.tunnel,
    emf.rna.func.tunnel.der,
    emf.rna.func.tanh,
    emf.rna.func.tanh.der,

    emf.rna.image.plot,
    emf.rna.var.to.label

)
